<section class="secondary-content">
  <div class="secondary-responsive-container"></div> 
  <div class="secondary-content-container">   
    <svg  class="secondary-content-icon" width="197" height="229" aria-label="Icon">
      <use href="./images/svg/sprite.svg#secondaryIcon"></use>
    </svg>
      <div class="secondary-content-block">
        <h3 class="secondary-title animated anim-items">
          OUR<br>LIGHTPAPER
        </h3>
        <p class="secondary-description animated anim-items">
          Team is currently working on all its documents.
        </p>

        <div class="secondary-content-button"><a href="#downloud" target="_blanck" aria-label="Linck">
          DOWNLOAD
        </a></div>

        <div class="secondary-content-photo">
          <img src="./images/tablet/Broshure.png" alt="Image Broshure">
      </div>
      </div>
  </div>

</section>